
#home-page{
background-color: #128177;
}
.navbar{
  margin-top:0px;
  height:125px;
}
.nav-link{
  margin-left:900px;
  margin-top:12px;
}
#avatar{
  height:75px;
  border-radius:65px;
}
#signout{
  font-family: "Poppins", sans-serif;
  margin-top:10px;
  border-radius:2px;
  text-align:center;
  color:black;
  cursor: pointer;
}
#signout:hover{
  color:white;
  background-color:#128177;
  border:1px solid #128177;
}
.location{
  margin:35px;
  margin-top:50px;
}
#add-new-btn{
  margin-left: 300px;
  width:280px;
  border-radius:4px;
}
.table-top-bar{
  background-color:#fff;
  margin-right:20px;
  margin-left: 20px;
  margin-top:-30px;
  height:75px;
  border-radius:2px;
}
* {
  box-sizing: border-box;
}
.add-new-btn{
  width:165px;
  height:45px;
  margin-top:20px;
  border-radius:4px;
  border: 1px solid black;
  background-color:transparent;
}
.add-new-btn:hover{
  background-color: #e9f2ee;
}
#filter-btn{
  width:165px;
  height:35px;
  margin-top:20px;
  margin-left:25px;
  border-radius:4px;
  border: 1px solid #128177;
  background-color: white;
}
#filter-btn:hover{
  background-color:#e9f2ee;
}
#netcode-inputfield{
  margin-left:10px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius:3px;
  height:35px;
}
#cross-btn{
  background-color:#128177;
  border-radius:5px;
  width:35px;
  margin:-3px;
}

#cross-btn:hover{
  background-color:#c9f5d7;
  color:black;
}
#myInput {
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  border-radius:3px;
  height:35px;
  margin-top: 20px;
  margin-left:65px;
}
#search-btn{
  background-color:#128177;
  border-radius:6px;
  width:35px;
  height:33px;
  margin:-3px;
  margin-top:15px;
}
#search-btn:hover{
  background-color:#c9f5d7;
  color:black;
}
.del-modal-body{
  background-color:#ffc39c;
}
.edit-modal-body{
  background-color:#128177;
}
.view-modal-body{
  background-color:lightblue;
}
.cancel-btn{
  border:1px solid #fff;
  background-color: #fff;

}
.del-location-btn{
  background-color:red;
  font-size:15px;
  color:white;
}
.del-location-btn:hover{
  color:#fff;
}

.close:hover{
  color: red;
}
#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  background-color:#fff;
}

#myTable th, #myTable td {
  text-align:center;
  padding: 2px;

}

#myTable tr {
  border-bottom: 1px solid #ddd;
}
#myTable tr.header:hover {
 background-color:#fff;
}

#myTable tr.header {
  background-color: #fff;
  border-top: 1px solid #fff;
}
#myTable tr:hover {
  background-color: #f1f1f1;

}
.edit-btn,.delete-btn,.view-btn{
  color:#5cedbb;
  border-radius:4px;
  width:60px;
  border-color:#fff;
  background-color:transparent;

}
.edit-btn:hover{
  background-color:#128177;
  color:black;
}
.view-btn:hover{
  background-color:#128177;
  color: black;
}
.delete-btn:hover{
  background-color:#128177;
  color:black;
}
.location-name-dropdwon{
  background-color:#128177;
  height:30px;
  color:#fff;
  border-radius:4px;
  text-align-last: center;
}
.location-name-dropdwon:hover{
  background-color:#128177;
  color:#fff;

}

.add-location-label,.edit-location-label{
  font-weight: 600;
  height:25px;
}
#location-uuid,#location-code,#netcode,#latitude,#longitude,.location-name-dropdwon{
  width:100%;
  text-align:center;
}

.edit-location-code,.edit-netcode{
  background-color: transparent;
  text-align: center;
  border:1px dashed black;
}
.delete-location-code,.delete-netcode{
  background-color: transparent;
  border:2px solid black;
  text-align: center;
}

#location-uuid:hover,#location-code:hover,#netcode:hover{
  background-color: #e6fff1; 
}
.modal-footerl{
  background-color: #128177;
}
.view-content{
  background-image: url(https://ak.picdn.net/shutterstock/videos/1022987068/thumb/1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*CUSTOM PRELOADER*/
.loader-bg{
  position: fixed;
  z-index: 999999;
  background: black;
  width: 100%;
  height: 100%;
}
.loader-p{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader-p:before, .loader-p:after{
  content: '';
  border: 1em solid #15e38a;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader-p:before{
  animation-delay: 0.5s;
}

@keyframes loader{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}
/*end of custom preloader*/
#dvMap{
  margin-top:20px;
  /*border: 1px solid;
  padding: 10px;
  box-shadow:3px 3px 3px 3px ;*/
}
#snackbar-signin, #snackbar-msg{
  visibility: hidden;
  min-width: 250px;
  margin-left: 27%;
  background-color:#5af2f2;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  position:fixed;
  z-index:7;
  font-size: 17px;
}

#snackbar-signin.show,#snackbar-msg.show{
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 1.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}
@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

}
.card{
  
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px red;
}

.card h5:hover {
  color:black;
}
.card h5{
  color:#00c7c0;
  text-align:center;
 
}
